<div calss="hero-unit">
	<% if(!user) {%>
	<h1>欢迎来到Microblog</h1>
	<p>Microblog 是一个基于NodeJS的微博系统</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登录</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>
<% } else { %>
<%- partial('say') %>
<% } %>
<%- partial('posts') %>