<div calss="hero-unit">
	<h1>欢迎来到Microblog</h1>
	<p>Microblog 是一个基于NodeJS的微博系统</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登录</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>
<div class="row">
	<div class="span4">
		<h2>xinhe says</h2>
		<p>开始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe1 says</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe3 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe4 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe5 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe3 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe3 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>
	<div class="span4">
		<h2>xinhe3 说</h2>
		<p>开始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据始测试数据</p>
	</div>

</div>